/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.scss";

html,
body {
	height: 100%;
}

.hover-underline {
	text-decoration: none;
	&:hover {
		text-decoration: underline !important;
	}
}

input.ng-touched.ng-invalid {
	border: 1px solid red;
}

.invalid-feedback {
	display: block;
}
